<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="path.wiser.mobile"
    android:versionCode="1"
    android:versionName="1.0">
    
   	<!-- Features are for SDK 4 and up but still good to have in 3 and below for future compatibility -->
   	<uses-feature android:name="android.hardware.camera" />
   	<uses-permission android:name="android.permission.CAMERA" />
   	<!-- For storing images, traces and points of interest until you can get to a wifi hotspot -->
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	
   	<!-- GPS requirements -->
   	<uses-feature android:name="android.hardware.location" android:required="true"></uses-feature>
   	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
   	<!-- TODO We could also use coarser grained locations like cell towers and wifi location... -->
   	<!--  For testing only! -->
   	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
   	<!--  For testing only! -->
	
   	<uses-feature android:name="android.hardware.wifi"></uses-feature>
   	<uses-permission android:name="android.permission.INTERNET" />
   	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:allowBackup="true">
        <activity android:label="@string/app_name" android:name=".ui.TraceActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:label="@string/app_name" android:name=".ui.PointOfInterestActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
    	<activity android:label="@string/app_name" android:name=".ui.IncidentActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
    	<activity android:label="@string/app_name" android:name=".ui.WiserPathActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
    	<activity android:label="@string/app_name" android:name=".ui.SettingsActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>

    	<activity android:name=".WiserPathMobile" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity>
    	
    </application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 